.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;


}
.history-layout{
  display: flex;
  flex-direction: row;
}

.login-title{margin-bottom: 30px;}
.login-form{
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  margin: 30px 0px;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(0px);
  }
}
#components-form-demo-normal-login .login-form {
  max-width: 400px;
  
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}